@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.wrapper {
    display: flex;
}

.vert-nav {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    background: #1f76ff;
    position: sticky;
    top: 0;
}

.vert-nav h2 {
    margin: 4vh 20px;
    text-align: center;
    color: #c0ffff;
}

.vert-nav .menu {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
}

.vert-nav .menu a {
    position: relative;
    text-decoration: none;
    color: #c0ffff;
    transition: all 0.3s ease;
}

.vert-nav .menu a div::after {
    content: "";
    background: #c0ffff;
    height: 100%;
    width: 2px;
    position: absolute;
    left: 0;
    bottom: 0px;
    transform: scaleY(0);
    transition: all 0.3s ease;
}

.vert-nav .menu a div:hover::after {
    transform: scaleY(1);
}

.vert-nav .menu a .item {
    font-size: 0.9em;
    padding: 10px 20px;
}

.vert-nav .menu a:hover {
    border-radius: 15px;
    background-color: #0035ff;
}

.vert-nav .menu a:active {
    border-radius: 15px;
    background-color: #0030e9;
    transform: scale(0.95);
}

.vert-nav .footer {
    position: absolute;
    bottom: 10px;
    margin-left: 20px;
    font-size: 0.5em;
}

.main {
    flex-grow: 1;
    padding: 20px 10px;
}


/* ANIMATIONS */

.vert-nav {
    -webkit-animation-name: vert-nav;
    animation-name: vert-nav;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes vert-nav {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes vert-nav {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.main-wrapper, .main-wrapper-admin {
    -webkit-animation-name: main-wrapper;
    animation-name: main-wrapper;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes main-wrapper {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes main-wrapper {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}